In [16]:
# Import dependencies
import pandas as pd

In [1]:
# Import scraping tools
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set up Splinter
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/jenamis/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

### News Article

In [4]:
# Visit NASA Mars News site
url = "https://redplanetscience.com/"
browser.visit(url)

# Optional delay for loading page
browser.is_element_present_by_css("div.list_text", wait_time = 1)

True

In [5]:
# Parse HTML
html = browser.html
news_soup = soup(html, "html.parser")
slide_elem = news_soup.select_one("div.list_text")

In [6]:
# Scrape for most recent article title
slide_elem.find("div", class_ = "content_title")

In [7]:
# Use parent element to find first "div" tag and save it as "news_title"
news_title = slide_elem.find("div", class_ = "content_title").get_text()
news_title

"NASA Wins 4 Webbys, 4 People's Voice Awards"

In [8]:
# Use parent element to find first "div" tag and save it as "news_title" -- alternative approach to print only title
news_title = slide_elem.find("div", class_ = "content_title")
print(news_title.text)

NASA Wins 4 Webbys, 4 People's Voice Awards

In [9]:
# Use parent element to find article summary
news_p = slide_elem.find("div", class_ = "article_teaser_body").get_text()
news_p

'Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA\'s Global Climate Change website and Solar System Interactive.'

### Featured Image

In [11]:
# Visit Space Images site
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [12]:
# Find and click full image button
full_image_elem = browser.find_by_tag("button")[1]
full_image_elem.click()

In [13]:
# Parse resulting HTML
html = browser.html
img_soup = soup(html, "html.parser")

In [14]:
# Find relative image URL
img_url_rel = img_soup.find("img", class_ = "fancybox-image").get("src")
img_url_rel

'image/featured/mars3.jpg'

In [15]:
# Use base URL to create absolute URL
img_url = f"https://spaceimages-mars.com/{img_url_rel}"
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Facts

In [20]:
# Scrape table from Mars Facts site
df = pd.read_html("https://galaxyfacts-mars.com/")[0]
df.columns = ["Description", "Mars", "Earth"]
df.set_index("Description", inplace = True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [18]:
# Convert DF to HTML
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [19]:
# End automated browsing session
browser.quit()